<div class="page">
<!-- section of search -->
<div class="heroContainer" style="background-image: url(/assets/images/bg.jpg);">
    <div class="conatiner">
        <h1>Find Properties</h1>
        <div class="searchBar">
            <div class="buyRentButtons">
                <div class="d-flex flex-row buttons">
                    <button [ngClass]="{'selectedBtn': this._auth.searchData.rentOrBuy == 'buy'}" (click)="setBuy()">Buy</button>
                    <button [ngClass]="{'selectedBtn': this._auth.searchData.rentOrBuy == 'rent'}" (click)="setRent()">Rent</button>
                </div>
                <input (keyup)="setValue($event, 'address')" type="text" class="form-control" placeholder="Address" >
            </div>
            <div class="searchInputs">
                <select (change)="setPropType($event)">
                    <option value="All">All</option>
                    <option value="Apartment">Apartment</option>
                    <option value="Duplex">Duplex</option>
                    <option value="Villa">Villa</option>
                    <option value="Compound">Compound</option>
                </select>
                <select (change)="setValue($event, 'governorate')">
                    <option value="Cairo">Cairo</option>
                    <option value="Alexandria">Alexandria</option>
                    <option value="Giza">Giza</option>
                </select>
                <input (keyup)="setValue($event, 'minPrice')" type="text" class="form-control" placeholder="minimum price" >
                <input (keyup)="setValue($event, 'maxPrice')" class="form-control" placeholder="maximum price" >
                <button (click)="search()" class="searchButton"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- section of properties -->
<div *ngIf="properties.length == 0" class="text-center mt-5">there are no properties yet</div>
<ul *ngIf="properties != null">
    <li *ngFor="let item of properties;">
        <app-prop-card  [name]='item.name' 
                        [avatar]='item.avatar' 
                        [price]='item.price' 
                        [address]="item.address" 
                        [id]='item._id' 
                        [desc]='item.description'
                        [noOfViews]="item.noOfViews"
        ></app-prop-card>
    </li>
</ul>
</div>