@import '../../scss/variables.scss';
/***** page *****/
.page {
    color: white;
    min-height: 80vh;
}
/***** cards section*****/ 
li {
    list-style-type:none;
    padding: none;
}
ul {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/****** search section *****/
.heroContainer{
	height:40vh; //
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow-y: hidden;
	box-shadow: 200px 200px 200px 200px rgba(0,0,0,0.4) inset;
    .selectedBtn {
        background-color: white !important;
        color: $blue !important;
        font-weight: 900 !important;
    }
    option {
        color: grey;
    }
    input {
        border-radius: 0;
        width: 23%;
    }
    select {
        border-radius: 0;
        padding: 5px;
        width: 23%;
    }
    .searchButton {
        width: 8%;
        @include sucessBtn;
    }
    h1{
        margin: 7vh;
    }
    .conatiner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .searchBar {
        background-color: $blue;
        width: 86%;
        margin: 0 10vw;
        max-width: 760px;
        display: flex;
        flex-direction: column;
        .buyRentButtons {
            display: flex;
            flex-direction: row;
            input {
                margin-left: 6%;
                width: 100%
            }
            button {
                @include primaryBtn;
                border-radius: 0;
                padding: 5px 30px;
            }
        }
    }
    .searchInputs {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width:760px) {
    .heroContainer{
        .searchBar {
            width: 100%;
            margin: 0;
        }
    }
}
@media screen and (max-width:640px) {
    .heroContainer{
        height:100vh;
        .searchButton {
            width: 90%;
            margin: 0 5% 10px 5%;
        }
        .searchBar {
           
            .buyRentButtons {
                flex-direction: column;
                .buttons {
                    justify-content: center;
                    padding: 20px 0;
                }
                input {
                    width: 90%;
                    margin: 0 5% 10px 5%;
                }
                button {
                   margin: 0 20px;
                }
            }
        }
        .searchInputs {
            flex-direction: column;
            select {
                width: 90%;
                margin: 0 5% 10px 5%;
            }
            input {
                width: 90%;
                margin: 0 5% 10px 5%;
            }
        }
    } 
}