<div class="heroContainer" style="background-image: url(/assets/images/bg.jpg);">
	<div class="container">
		<div class="d-flex felx-row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Retrive Password</h2>
			</div>
		</div>
		<div class="d-flex flex-row justify-content-center">
			<div class="d-flex flex-column justify-content-center">
				<form [formGroup]="form" (ngSubmit)="forgotPassword(form)">
				<div class="form-group">
					<label for="email">Email</label>
					<input formControlName="email" (blur)="onBlur('email')" type="text" class="form-control" placeholder="johnDoe@gmail.com" >
					<div class="alert alert-danger m-0 p-0" *ngIf="email?.errors?.['required'] && errorsObject['email']">
						<p class="p-1 m-0">email is requires</p>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" >Send Retrive Link</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>