@import '../../scss/variables.scss';
// background 

.heroContainer{
	height:100vh; //
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow-y: hidden;
	box-shadow: 200px 200px 200px 200px rgba(0,0,0,0.4) inset;
}
// header 
.heading-section {
	color: #fff;
	margin-top: 13vh;
	font-weight: 600;
}
// from elements 
.form-group {
	width: 320px;
	@media screen and (max-width: 576px) {
		width: 75vw;
	}
}
label {
	color: #fff;
	font-weight: 500;
	margin-top: 20px;
}
input {
	width: 100%;
	border-radius: 0;
}
// sign in button
button {
	margin-top: 30px;
	width: 100%;
	font-size: 18px;
	@include sucessBtn;
}
// sign up 
h6 {
	padding-top: 10px;
	color: white;
}