<div class="row justify-content-center page">
    <div class="container">
        <form [formGroup]="activate" (ngSubmit)="handleActivate()">
            <h4 class="text-center my-4">Activate</h4>
            <div class="mb-3">
                <input class="form-control" formControlName="otp" (blur)="onBlur()">
                <div class="alert alert-danger mt-2 p-0 failDiv" *ngIf="otp?.errors?.['required'] && otpError">
                    <p class="p-1 m-0 failMsg">otp is required</p>
                </div>
            </div>
    
            <div class="mb-3 text-center">
                <button class="activateBtn">
                    Activate
                </button>
            </div>
        </form>
        <button class="sendOtp" (click)="sendOtp()">
            send new otp?
        </button>
    </div>
</div>

