<div class="heroContainer" style="background-image: url(/assets/images/bg.jpg);">
	<div class="container">
		<div class="d-flex felx-row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Login</h2>
			</div>
		</div>
		<div class="d-flex flex-row justify-content-center">
			<div class="d-flex flex-column justify-content-center">
				<form [formGroup]="login" (ngSubmit)="handleLogin(login)">
				<div class="form-group">
					<label for="email">Email</label>
					<input formControlName="email" (blur)="onBlur('email')" type="text" class="form-control" placeholder="Username" >
					<div class="alert alert-danger m-0 p-0" *ngIf="email?.errors?.['required'] && errorsObject['email']">
						<p class="p-1 m-0">email is requires</p>
					</div>
				</div>
				<div class="form-group">
					<label for="email">Password</label>
					<input formControlName="password" (blur)="onBlur('password')" id="password-field" type="password" class="form-control" placeholder="Password"  >
					<div class="alert alert-danger m-0 p-0" *ngIf="password?.errors?.['required'] && errorsObject['password']">
						<p class="p-1 m-0">password is requires</p>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" >Sign In</button>
				</div>
				</form>
				<h6 routerLink="/register" style="cursor: pointer;" class="mt-4 w-100 text-center">&mdash; Sign Up &mdash;</h6>
				<h6 routerLink="/forgotPassword" style="cursor: pointer;" class="w-100 text-center">&mdash; Forgot Password &mdash;</h6>
			</div>
		</div>
	</div>
</div>