<div class="page">
    <app-side-bar></app-side-bar>
    <div class="container-xl px-4 mt-2">
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <form class="myForm" [formGroup]="formEntry" (ngSubmit)="changePassword()">
                        <div class="mb-3 formField">
                            <label class="small mb-1" for="inputUsername">Old password</label>
                            <input formControlName="oldPass" (blur)="onBlur('oldPass')" class="form-control" type="password" placeholder="Enter your old password">
                        </div>
                        <div class="mb-3 formField">
                            <label class="small mb-1" for="inputUsername">New password</label>
                            <input formControlName="newPass" (blur)="onBlur('newPass')" class="form-control" type="password" placeholder="Enter your new password">
                        </div>
                        <div class="mb-3 formField">
                            <label class="small mb-1" for="inputUsername">Confirm new password</label>
                            <input (blur)="onBlur('confirmPass')" class="form-control" type="password" placeholder="Confirm your new password">
                        </div>
                        <!-- Save changes button-->
                        <div class="buttonContainer">
                            <button class="changeButton">change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>